MONGO_INITDB_ROOT_USERNAME=bus_admin
MONGO_INITDB_ROOT_PASSWORD=CHANGE_TO_A_LONG_PASSWORD
MONGODB_URI=mongodb://bus_admin:CHANGE_TO_A_LONG_PASSWORD@mongo.ptm-bus.svc.cluster.local:27017/bus_time?authSource=admin
